---
import { ThemeScript } from 'astro-theme-toggle'
---

<head>
  <title>astro-theme-toggle</title>
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width" />
  <ThemeScript />
</head>
