---
export interface Props {
  href: string
}

const { href } = Astro.props as Props
const active = Astro.url.pathname === href
---

<a class="nav-link" data-active={active ? '' : undefined} href={href}>
  <slot />
</a>

<style>
  .nav-link {
    display: inline-block;
    margin: 0 10px;
    padding: 10px 20px;
    color: var(--text-color);
    text-decoration: none;
    opacity: 0.5;
  }

  .nav-link:hover {
    opacity: 0.8;
    text-decoration: underline;
  }

  .nav-link[data-active] {
    opacity: 1;
  }
</style>
